body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.pointer {
  cursor: pointer;
}

.btn-mr {
  margin-right: 10px;
}

.brand-logo img {
  padding: 5px;
}

footer ul li {
  display: inline;
  margin-right: 2rem;
}

.tab-content {
  margin-top: 2rem;
}

.underline {
  text-decoration: underline;
}

.dropdown-content-index-project {
  @extend .dropdown-content;
  width: 170px !important;
}

@import '_list-group';

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-minus                  { &:before { content: "\2212"; } }
.glyphicon-plus                   { &:before { content: "\002b"; } }

.search-logo {
  margin-top: 10%;
}

.search-logo img{
  width: 80%;
  height: auto;
}

.search-form {
  margin-bottom: 10%;
}

@media #{$medium-and-up} {
  .search-logo {
    margin-top: 50px;
  }

  .search-logo img{
    // width: 50%;
    width: 500px;
    height: auto;
  }

  .search-form {
    margin-bottom: 5%;
  }
}