$primary-color: color("amber", "base");
$secondary-color: color("shades", "black");

$input-focus-color: $secondary-color;
$tabs-underline-color: $primary-color;
$tabs-text-color: $primary-color;
$tabs-bg-color: color("shades", "white");

.nav-wrapper, .page-footer, .btn {
  @extend .amber;
}

a, .page-footer, .footer-copyright, .btn {
  @extend .black-text;
}

.btn {
  @extend .black;
}

.btn {
  @extend .white-text;
}

.select-wrapper {
  input.select-dropdown {
    &:focus {
      border-bottom: 1px solid $input-focus-color;
    }
  }
}

/* Text inputs */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {

  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $input-focus-color;
    box-shadow: 0 1px 0 0 $input-focus-color;
  }

  // Focused label style
  &:focus:not([readonly]) + label {
    color: $input-focus-color;
  }
}

// Prefix Icons
.prefix {
  &.active {
    color: $input-focus-color;
  }
}

.page-footer {
  background-color: #fff !important;
  border-top: 1px solid rgba($secondary-color,.14);

  .footer-copyright {
    background-color: rgba($secondary-color,.05) !important;
  }
}

// Tabs
.tabs {
  background-color: $tabs-bg-color !important;
  overflow-x: hidden !important;

  .tab {
    a {
      &:focus,
      &:focus.active {
        background-color: $tabs-bg-color !important;
      }

      &.active {
        color: $secondary-color !important;
      }

      &:hover {
        color: $tabs-text-color !important;
      }

      color: $secondary-color !important;
    }

    &.disabled a,
    &.disabled a:hover {
      color: rgba($secondary-color, .4) !important;
    }
  }

  .indicator {
    background-color: $tabs-underline-color !important;
  }
}



//$datepicker-calendar-header-color: #999;
//$datepicker-weekday-color: rgba(0, 0, 0, .87) !default;
//$datepicker-weekday-bg: darken($secondary-color, 7%) !default;
$datepicker-date-bg: $primary-color !default;
//$datepicker-year: rgba(255, 255, 255, .7) !default;
//$datepicker-focus: rgba(0,0,0, .05) !default;
$datepicker-selected: $primary-color !default;
$datepicker-selected-outfocus: desaturate(lighten($primary-color, 35%), 15%);
$datepicker-day-focus: transparentize(desaturate($primary-color, 5%), .75);
//$datepicker-disabled-day-color: rgba(0, 0, 0, .3) !default;

//$timepicker-clock-color: rgba(0, 0, 0, .87) !default;
//$timepicker-clock-plate-bg: #eee !default;

/* Date Display */
.datepicker-date-display {
  background-color: $primary-color !important;

  //.year-text {
  //  color: $datepicker-year;
  //}
}

.datepicker-table {
  //abbr {
  //  color: $datepicker-calendar-header-color;
  //}

  td {
    &.is-today {
      color: $primary-color !important;
    }

    &.is-selected {
      background-color: $primary-color !important;
      color: $secondary-color !important;
    }

    //&.is-outside-current-month,
    //&.is-disabled {
    //  color: $datepicker-disabled-day-color;
    //}
  }
}

.datepicker-day-button {
  &:focus {
    background-color: $datepicker-day-focus !important;
    //background-color: $primary-color !important;
  }
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: $secondary-color !important;
}

.chip {
  &:focus {
    background-color: $primary-color !important;
    color: $secondary-color !important;
  }
}

.chips {
  &.focus {
    border-bottom: 1px solid $primary-color !important;
    box-shadow: 0 1px 0 0 $primary-color !important;
  }
}

.dropdown-content {
  width: 150px !important;
}