$primary-color: color("amber", "base");
$secondary-color: color("shades", "black");

$input-focus-color: $secondary-color;
$tabs-underline-color: $primary-color;
$tabs-text-color: $primary-color;
$tabs-bg-color: color("shades", "white");

.nav-wrapper, .page-footer, .btn {
  @extend .amber;
}

a, .page-footer, .footer-copyright, .btn {
  @extend .black-text;
}

.btn {
  @extend .black;
}

.btn {
  @extend .white-text;
}

.select-wrapper {
  input.select-dropdown {
    &:focus {
      border-bottom: 1px solid $input-focus-color;
    }
  }
}

/* Text inputs */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {

  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $input-focus-color;
    box-shadow: 0 1px 0 0 $input-focus-color;
  }

  // Focused label style
  &:focus:not([readonly]) + label {
    color: $input-focus-color;
  }
}

// Prefix Icons
.prefix {
  &.active {
    color: $input-focus-color;
  }
}

.page-footer {
  background-color: #fff !important;
  border-top: 1px solid rgba($secondary-color,.14);

  .footer-copyright {
    background-color: rgba($secondary-color,.05) !important;
  }
}

// Tabs
.tabs {
  background-color: $tabs-bg-color !important;

  .tab {
    a {
      &:focus,
      &:focus.active {
        background-color: $tabs-bg-color !important;
      }

      &.active {
        color: $secondary-color !important;
      }

      &:hover {
        color: $tabs-text-color !important;
      }

      color: $secondary-color !important;
    }

    &.disabled a,
    &.disabled a:hover {
      color: rgba($secondary-color, .4) !important;
    }
  }

  .indicator {
    background-color: $tabs-underline-color !important;
  }
}


