body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.pointer {
	cursor: pointer;
}

.btn-mr {
	margin-right: 10px;
}

.brand-logo img{
	padding: 5px;
}

.footer-logo{
	/*margin-bottom: 0;*/
}

.footer-logo-label{
	/*margin-top: 0;*/
	/*font-style: italic;*/
}

footer ul li{
	display: inline;
	margin-right: 2rem;
}